---
dirty: false
layout: nil
---
RewriteEngine on
#RewriteCond %{HTTP_HOST} ^martinowen.net$ [OR]
#RewriteCond %{HTTP_HOST} ^www.martinowen.net$
#RewriteRule ^(.*)$ http://blog.martinowen.net [R=301,L]
Redirect /2009/01/barcamp-liverpool/ http://martinowen.net/blog/2009/01/barcamp-liverpool.html
Redirect /2009/01/barcamp-liverpool http://martinowen.net/blog/2009/01/barcamp-liverpool.html
Redirect /2008/05/erlang-talk/ http://martinowen.net/blog/2008/05/erlang-talk.html
Redirect /2008/05/erlang-talk http://martinowen.net/blog/2008/05/erlang-talk.html
Redirect /2008/04/comet-talk/ http://martinowen.net/blog/2008/04/comet-talk.html
Redirect /2008/04/comet-talk http://martinowen.net/blog/2008/04/comet-talk.html
Redirect /feed/ http://martinowen.net/blog/atom.xml
Redirect /feed http://martinowen.net/blog/atom.xml
