---
layout: default
title: Blog
filter:
  - haml
  - basepath
---
-paginate = @page.paginate || true
-per_page = @page.per_page || 10
-articles = find_posts
%h2
  Blog Posts
-articles.delete(@page)
-if paginate
  -paginate(articles, per_page) do |page|
    = render :partial => '/post_in_list', :locals => {:page => page}
-else
  -articles.each do |page|
    = render :partial => '/post_in_list', :locals => {:page => page}
