---
filter: haml
---
%ul
  %li
    %a{ :href => "/", :title => "Home" }
      Home
  %li
    %a{ :href => "/about.html", :title => "About" }
      About
  %li
    %a{ :href => "/blog/", :title => "Blog" }
      Blog

