---
filter: haml
---
- page = @page if @page.blog_post
.post
  %h2
    %span.post-date
      = format_post_date_long(page.created_at)
  %p.big-summary
    = @page.summary
  ~@page.blog_post ? @content : render(page)
  %span.comment_count
    %a{:href=>"#{page.url}#disqus_thread"}
      View Comments
  - if @page.blog_post
    .comments
      =render :partial => '/disqus_thread'
%hr