---
filter: haml
---
- posts = find_posts
%ul.posts-list
  - posts.each do |post|
    %li
      %span.post-date
        = post.created_at.strftime('%Y/%m/%d')
        &raquo; 
        = link_to_page(post)
      %p.post-summary
        = post.summary
