---
filter: haml
---
- posts = find_posts
%ul.posts-list
  - posts.each do |post|
    %li
      %span.post-date
        = format_post_date_short(post.created_at)
        &raquo; 
        = link_to_page(post)
      %p.post-summary
        = post.summary
