---
filter: haml
---
%h2
  Blog Posts
%p
  %a.atom-feed{ :href => "/blog/atom.xml", :title => "Atom Feed" }
    Atom Feed
%ul.posts
  - posts = find_posts(10)
  - posts.each do |post|
    %li
      %span.post-date
        = format_post_date_short(post.created_at)
      %br
      = link_to_page(post)
