---
filter: haml
---
%h2
  Blog Posts
%p
  %a.atom-feed{ :href => "/atom.xml", :title => "Atom Feed" }
    Atom Feed
%ul.posts
  - posts = find_posts(10)
  - posts.each do |post|
    %li
      %span.post-date
        = post.created_at.strftime('%Y/%m/%d')
      %br
      = link_to_page(post)
