---
filter:
  - haml
---
%h2
  Elsewhere
%p
  %em
    In order of activity, starting with most active:
%ul.social-network-links
  %li
    %a.github{ :href => "http://github.com/mowen"}
      github.com/mowen
  %li
    %a.lastfm{ :href => "http://last.fm/user/martyziff"}
      last.fm/user/martyziff
  %li
    %a.twitter{ :href => "http://twitter.com/martinowen"}
      twitter.com/martinowen
  %li
    %a.facebook{ :href => "http://facebook.com/martowen"}
      facebook.com/martowen
  %li
    %a.delicious{ :href => "http://delicious.com/mintyboy"}
      delicious.com/mintyboy
  %li
    %a.flickr{ :href => "http://www.flickr.com/photos/mintyboy"}
      flickr.com/photos/mintyboy
  %li
    %a.linkedin{ :href => "http://uk.linkedin.com/in/martinowenuk"}
      uk.linkedin.com/in/martinowenuk
  %li
    %a.friendfeed{ :href => "http://friendfeed.com/martinowen"}
      friendfeed.com/martinowen
