---
layout: default
title: Blog
filter:
  - erb
  - basepath
---
<h2>Blog Posts</h2>
<ul class="posts-list">
  <% @pages.find(10, :in_directory => "blog", :recursive => true,
                 :sort_by => "created_at", :reverse => true,
                 :blog_post => true).each do |post| %>
  <li>
    <span class="post-date"><%= post.created_at.strftime('%Y/%m/%d') %></span> &raquo; <%= link_to_page(post) %>
    <p class="post-summary"><%= post.summary %></p>
  </li>
  <% end %>
</ul>

