---
layout: default
title: Home
front_page: true
summary: The homepage and blog of Martin Owen, a software developer based in Liverpool, UK.
filter:
  - haml
  - basepath
---
%h2
  Blog Posts
= render :partial => "/posts_list", :locals => { :pages => @pages }
