---
layout: front_page
title: Home
summary: The website and blog of Martin Owen, a web developer based in Liverpool, UK.
filter:
  - haml
  - basepath
---
%h2
  Blog Posts
= render :partial => "/posts_list", :locals => { :pages => @pages }
