---
filter: sass
extension: css
layout: nil
---
// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass

!blueprint_font_family = "Georgia"
!blueprint_fixed_font_family = "Monaco", "Courier New", "Courier"
!blueprint_font_size = 16px

!font_color= lighten(#000, 20)
!link_color = #046380

// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/modules/scaffolding.sass

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

//Recommended Blueprint configuration with scoping and semantic layout:
+blueprint-typography("body.bp")
+blueprint-scaffolding("body.bp")

// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass

.container
  +container

#header, #footer
  +column(!blueprint_grid_columns)

#sidebar
  !sidebar_columns = 8
  // true means it's the last column in the row
  +column(!sidebar_columns, true)
  ul.posts
    margin-left: 0px
    +no-bullets
  a
    +header-font-style
    text-decoration: none

#main
  !content_columns = 16
  +column(!content_columns)

#header
  a
    text-decoration: none
    border: none
    color= !font_color
    +header-font-style
  #nav-bar
    :font-size 1.5em
    :line-height 1
    :margin-bottom 1em
    ul
      width: 100%
      margin-left: 0px
      +no-bullets
      li
        display: inline
        margin-right: 50px

#lifestream
  ul
    margin-left: 0px
    +no-bullets
    li
      display: inline
      a
        +header-font-style
        text-decoration: none

body.bp
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction
  //+showgrid("grid.png")
  .post-date
    +header-font-style(false)
    +quiet
  .post
    h2
      a
        text-decoration: none
    .post-summary
      +header-font-style
      // The settings below are for h2
      font-size: 2em
      margin-bottom: 0.75em
  // This turns link icons on for all links.
  //+link-icons
  // Use this class if a link gets an icon when it shouldn't.
  a.noicon
    +no-link-icon
  // Not all links have a url structure that can be detected,
  // So you can set them explicitly yourself like so:
  a.atom-feed
    +link-icon("feed.png")
  h1, h2, h3, h4, h5, h6
    +header-font-style
  .posts-list
    margin-left: 0px
    +no-bullets
    a
      +header-font-style
      text-decoration: none
  pre, code
    font-family= !blueprint_fixed_font_family
  pre
    display: block
    color: white
    background: #222
    padding-left: 0.6em
    padding-right: 0.6em
    +border-radius(5px)
  p, li
    code
      background: #f0f0f0
      border: 1px solid #e0e0e0
      padding-left: 0.2em
      padding-right: 0.2em
      +border-radius(0.2em)

form.bp
  +blueprint-form
